body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.filter {
  text-align: center;
  margin-bottom: 20px;
}

.filter label {
  font-weight: 500;
  margin-right: 8px;
}

.filter select {
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 2rem;
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1rem;
}

.form input,
.form select {
  padding: 8px;
  font-size: 1rem;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
   padding: 10px;
  background-color:red;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.delete:hover {
  background-color: red;
}

.list {
  margin-top: 2rem;
}

.booking-card {
  background: #eef;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
}
